{{ attach_library('localgov_newsroom/localgov-newsroom') }}
{% set resultCount = content|length %}
<div id="infinite-scroll--wrapper" class="localgov-news-infinite-scroll">
  {{ content }}
</div>

{% if displayShowMore and (resultCount == totalPerPage) %}
  <button id="infinite-scroll--trigger" data-page="1" class="action-link">
    <i class="action-link--expand-icon fas fa-chevron-down"></i>{{ 'Show more'|t }}
  </button>
{% endif %}
