<div id="infinite-scroll--wrapper">
  {{ content }}
</div>

{% if displayShowMore %}
<button id="infinite-scroll--trigger" data-page="1" class="action-link">
  <i class="action-link--expand-icon fas fa-chevron-down"></i>Show more
</button>
{% endif %}
